/* common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: auto;

}
body{
    min-width: 1400px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(52, 72, 92, 1);
}
.right>ul li{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}
.left>ul li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
.btn {
    padding: 7px 10px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color:white;
    border-radius: 5px;
}
.vrt_align{
    vertical-align: middle;
}
hr{
    color:rgba(52, 72, 92, 1)
}
.line_height{
    line-height: 80px;
}
ul > li > a .fa-chevron-down{
    padding: 0 15px;
}
ul > li > a .fa-chevron-down:last-child{
    padding: 0px 0px 0px 15px;
}
/* color palette */
.darkblue{
    background-color: rgba(52, 72, 92, 1);
}


/* dbg classes */

.dbg_footer{
    height: 400px;
    background-color: red;
}
/* first_navbar section */
.bcgcolor {
    background-color: rgba(244, 249, 253, 1);
    height: 80px;
}
.nav_bar_one .right, .left{
    width: 50%;
    float: left;
}

.right{
    text-align: right;
}
.minibar{
    height: 0.75rem;
    width: 1px;
    background-color: rgba(145, 155, 159, 1);
    display: inline-block;
    margin: 0px 15px;
}
.left>ul>li>a{
    color: black;
}
.search_icon{
    height: 15px;
}

/* second nav bar */
.nav_bar_two {
    background-color: white;
    height: 80px;
    color: rgba(52, 72, 92, 1);
    
}
.nav_bar_two .right, .left{
    width: 50%;
    float: left;

}
/* jumbotron */
.jumbotron{
    height: 695px;
    background-image: url(/assets/hubspot/img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: rgba(255, 242, 238, 1);
    position: relative;
}
.first_text{
    width: 50%;
}
.first_text>h1{
    font-size: 5rem;
    font-weight: 800;
    padding: 1.5rem 0rem;
}
 .first_text p:not(:last-child){
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-bottom: 1.95rem;
}
.btn_lg{
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color:white;
    border-radius: 5px;
}
.first_text p:last-child{
    font-weight: 200;
    font-size: 1rem;
    padding-top: 2.5rem;
}
.greenbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;
    background-color: rgba(175, 235, 228, 1);
    border-bottom: 4px solid rgba(52, 72, 92, 1);
    border-top: 4px solid rgba(52, 72, 92, 1);
}
/*************************************************************** 
MAIN ***********************************************************/
main{
    background-color: rgba(244, 249, 253, 1);
    height: 2800px;
}
/* first raw */
.first_raw{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    line-height: 1.75rem;
}
.cube{
    height: 270px;
}
.first_raw h2{
    font-size: 2rem;
    padding-bottom: 20px;
}
/* second row */
.second_row{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    display: inline-block;
    width: 100%;
    padding: 25px 0px 40px 0px;
    margin-top: 50px;
}
.book{
    height: 100px;
    padding-bottom: 20px;
    
}
.col_one{
    width: 30%;
    float: left;
    text-align: center;
}
.col_two{
    width: 70%;
    float: left;
}
.col_two h3 {
    padding-bottom: 20px;
}
.col_two p:not(:last-child){
    padding-bottom: 20px;
}
.col_two li{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}
.col_two li:first-child{
    padding-left: 0;
}
.fa-check-circle{
    color: rgba(254, 119, 90, 1);
    padding-right: 15px;
}
.col_two p:last-of-type{
    text-transform: uppercase;
    font-weight: 800;
}
.btn_col{
    padding: 15px 31px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}
.grt_line{
    height: 0.75rem;
    width: 1px;
    background-color: rgba(145, 155, 159, 1);
    display: inline-block;
    margin: 0px 15px;
}
