/* common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 70%;
    margin: auto;
}
body{
    min-width: 1400px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(52, 72, 92, 1);
}
li{
    list-style: none;
}
.right>ul li{
    display: inline-block;
    padding-left: 15px;
}
.left>ul li{
    display: inline-block;
}
a{
    text-decoration: none;
}
.btn {
    padding: 7px 10px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color:white;
    border-radius: 5px;
}
hr{
    color:rgba(52, 72, 92, 1)
}
.line_height{
    line-height: 80px;
}
ul > li > a .fa-chevron-down{
    padding: 0 15px;
}
ul > li > a .fa-chevron-down:last-child{
    padding: 0px 0px 0px 15px;
}
/* :hover */
.btn:hover{
    padding: 7px 10px;
    border: 1px solid rgba(254, 119, 90, 1);
    background-color: white;
    color:rgba(254, 119, 90, 1);
    border-radius: 5px;
}
.btn_lg:hover{
    padding: 15px;
    border: 1px solid rgba(254, 119, 90, 1);
    background-color: white;
    color:rgba(254, 119, 90, 1);
    border-radius: 5px;
}
.btn_col:hover{
    padding: 15px 31px;
    border: 1px solid rgba(254, 119, 90, 1);
    background-color: white;
    color: rgba(254, 119, 90, 1);
    border-radius: 5px;
    font-size: 12px;
}   
.white_btn:hover{
    border: 1px solid rgba(218, 222, 224, 1);
    background: white;
    color:rgba(50, 73, 91, 1);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 20px 0px;
}
/* first_navbar section */
.bcgcolor {
    background-color: rgba(244, 249, 253, 1);
    height: 80px;
}
.nav_bar_one .right, .left{
    width: 50%;
    float: left;
}

.right{
    text-align: right;
}
.minibar{
    height: 0.75rem;
    width: 1px;
    background-color: rgba(145, 155, 159, 1);
    display: inline-block;
    margin: 0px 15px;
}
.left>ul>li>a{
    color: black;
}
.search_icon{
    height: 15px;
}
.fa-globe-europe{
    padding-right: 3px;
}
/* second nav bar */
.nav_bar_two {
    background-color: white;
    height: 80px;
}
.right>ul>li>a:not(li>.btn){
    color: black;
}
.mainlogo{
    display: inline-block;
    vertical-align: middle;
}
.nav_bar_two>.right, .left{
    font-size: 14px;
    width: 50%;
    float: left;
    line-height: 80px;
    vertical-align: middle;
}
/* jumbotron */
.jumbotron{
    height: 695px;
    background-image: url(/assets/img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: rgba(255, 244, 239, 1);
    position: relative;
}
.first_text{
    width: 30%;
}
.first_text>h1{
    font-size: 2.75rem;
    font-weight: 600;
    padding: 1.5rem 0rem;
}
 .first_text p:not(:last-child){
    font-weight: 400;
    font-size: 0.90rem;
    line-height: 1.75rem;
    padding-bottom: 1.95rem;
}
.btn_lg{
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color:white;
    border-radius: 5px;
}
.first_text p:last-child{
    font-weight: 400;
    font-size: 0.65rem;
    padding-top: 2.5rem;
}
.greenbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;
    background-color: rgba(175, 235, 228, 1);
    border-bottom: 4px solid rgba(52, 72, 92, 1);
    border-top: 4px solid rgba(52, 72, 92, 1);
}
/*************************************************************** 
MAIN ***********************************************************/
main{
    background-color: rgba(244, 249, 253, 1);
}

/* first row */
.first_row{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    line-height: 1.75rem;
}
.cube{
    height: 200px;
}
.first_row h2{
    font-size: 2rem;
    padding-bottom: 20px;
    font-weight: 800;
}
/* second row */
.second_row{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -4px #000000;
    display: inline-block;
    width: 100%;
    padding: 40px 0px 40px 0px;
    margin-top: 50px;
}
.book{
    height: 100px;
    padding-bottom: 20px;
    
}
.col_one{
    width: 30%;
    float: left;
    text-align: center;
}
.col_two{
    width: 70%;
    float: left;
}
.col_two h3 {
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 1.5rem;
}
.col_two p:not(:last-child){
    padding-bottom: 20px;
}
.col_two li{
    display: inline-block;
    padding-left: 15px;
}
.col_two li:first-child{
    padding-left: 0;
}
.fa-check-circle{
    color: rgba(254, 119, 90, 1);
    padding-right: 15px;
}
.col_two p:last-of-type{
    text-transform: uppercase;
    font-weight: 600;
}
.btn_col{
    padding: 15px 31px;
    border: 1px solid white;
    background-color: rgba(254, 119, 90, 1);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}
.grt_line{
    height: 0.75rem;
    width: 1px;
    background-color: rgba(145, 155, 159, 1);
    display: inline-block;
    margin: 0px 15px;
}
/* third row */
.third_row{
    margin: 40px 0px;
}
.col{
    width: calc(95%/3);
    padding: 20px 75px 30px 75px;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -4px #000000;
}

.third_row_img{
    height: 90px;
}
.third_row ul>li{
    text-align: left;
}
.third_row h3{
    padding: 20px 0px;
    font-weight: 600;
}
.second_col{
    margin: 0 2.5%;
}
aside p:first-of-type{
    font-size: 15px;
    line-height: 2rem;
    padding-bottom: 1rem;
}
aside p:last-of-type{
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: 1rem;
}
aside ul>li{
    line-height: 1rem;
}
aside p:last-of-type {
    text-transform: uppercase;
    font-weight: 800;
}
aside ul{
    font-size: 15px;
    padding-bottom: 2.5rem;
}
hr.divider{
    width: 70%;
    height: 1px;
    background-color: rgba(139, 149, 153, 1);
    margin: 0 auto;
    margin-bottom: 1rem;  
}
/* green section */
.green_section{
    background: linear-gradient(90deg, #00ACB6 0%, #00BBA7 100%);
    color: white;
    text-align: center;
    padding: 30px 0px 60px 0px;
}
.green_section h2{
    font-size: 2rem;
    padding-bottom: 30px;
}
.green_section p{
    padding-bottom: 30px;
}
.quarter{
    width: calc(100%/4);
    float:left;
    border: 1px solid white;
    padding: 20px;
}
.whitelogo{
    height: 30px;
}
.quarter h2{
    padding: 15px 0px;
}
.quarter span{
    font-size: 12px;
}
.top_four .quarter{
    border-top:transparent;
}
.low_four .quarter{
    border-bottom: transparent;
}
.grid .quarter:first-of-type{
    border-left: transparent;
}
.grid .quarter:last-of-type{
    border-right: transparent;
}
/* customer section */
.cust_back{
    padding-top: 30px;
    background-color: white;
}
.customers{
    width: 45%;
    margin: 0 auto;
}
.cust_numbers{
    width: 20%;
    text-align: left;
    float: left;
}
.cust_numbers>h2{
    font-size: 2.5rem;
    padding-bottom: 25px;
}
.cust_numbers p{
    font-size: 0.95rem;
    line-height: 1.5rem;
}
.cust_logos{
    height: 50px;
    width: 80%;
    text-align: right;
    float: left;
    line-height: 50px;
}
.cust_logos img{
    padding: 0px 0px 15px 25px
}
.top_logos img{
    vertical-align: middle;
}
.low_logos img {
    vertical-align: middle;
}

#purple{
    height: 60px;
    padding-right: 10px;
}
#g2{
    height: 55px;
}
#doordash{
    height: 35px;
}
#atlasian{
    height: 35px;
}
#vmware{
    height: 47px;
    padding-left: 60px;
}
#classpass{
    height: 60px;
}
#wistia{
    height: 40px;
}
#subaru{
    height: 60px;
}
/* growth section */
.growth{
    padding: 40px 0px;
}
.start{
    float: left;
    width: 30%;
}
.woman{
    float: left;
    width: 70%;
    text-align: right;
}
.woman img{
    height: 300px;
}
.start h2{
    padding-bottom: 20px;
}
.start p{
    line-height: 1.75rem;
    padding-bottom: 25px;
    font-size: 1.05rem;
}
.start p:last-child{
    padding-top: 25px;
    font-size: 0.75rem;
}
/* *********************************************************
FOOTER******************************************************/
.footer{
    background-color: rgba(50, 73, 91, 1);
    padding-top: 20px;
    height: 500px;
}
.languages+.link_col>ul>li{
    list-style-type: none;
}
.link_col{
    text-align: left;
    width: calc(100%/4);
    float: left;
}
.link_col a{
    color: rgba(251, 252, 252, 0.70);
}
.link_col>ul li:first-child{
    font-weight: 600;
    padding-bottom: 15px;
}
.link_col>ul li:not(:first-child){
    line-height: 1.75rem;
}
.logo_sm{
    padding-right: 25px;
}
.white_btn{
    border: 1px solid white;
    background: rgba(218, 222, 224, 1);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 20px 0px;
    
}
.link_col .white_btn{
    color:rgba(52, 72, 92, 1);
}
#supp_btn{
    margin: 15px 0px;
}
.languages{
    padding: 30px 0px;
    text-align: center;
    border-bottom: 1px solid rgba(218, 222, 224, 1);
}
.languages>ul>li{
    display: inline-block;
}
.languages>ul>li a{
    color: rgba(251, 252, 252, 0.70);
    padding-right: 25px;   
}
.credits{
    padding-top: 30px;
}
.credits .legal_stuff{
    width: 50%;
    float: left;
    text-align: right;
}
.credits .copyright{
    width: 50%;
    float: left;
    text-align: left;
}
.legal_stuff>ul>li{
    display: inline-block;
}
.legal_stuff>ul>li a{
    color: rgba(251, 252, 252, 0.70);
    padding-left: 20px;
    font-size: 14px;
}
.copyright p{
    color: rgba(251, 252, 252, 0.70);
    font-size: 14px;
}
.copyright>img{
    opacity: 70%;
}